<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings> 
    <add key="ProteoWizardFilePath" value="C:\Program Files\ProteoWizard\ProteoWizard 3.0.11856\msconvert.exe" />

  </appSettings>
</configuration>